@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'poppins-semi-bold';
  src: url('../public/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'poppins-light';
  src: url('../public/Poppins-Light.ttf');
}

@font-face {
  font-family: 'poppins-regular';
  src: url('../public/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'poppins-thin';
  src: url('../public/Poppins-Thin.ttf');
}

@font-face {
  font-family: 'poppins-medium';
  src: url('../public/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'poppins-italic';
  src: url('../public/Poppins-Italic.ttf');
}
